apiVersion: v1
kind: Namespace
metadata:
  name: web
  labels:
    name: web
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nginx
  namespace: kube-system
spec:
  repo: https://charts.bitnami.com/bitnami
  chart: nginx
  targetNamespace: web
  valuesContent: |-
    fullnameOverride: "solarsite"
    namespaceOverride: "web"
    service:
      type: ClusterIP
    ingress:
      enabled: true
      selfSigned: true
      hostname: HOSTNAME.local
      annotations:
        kubernetes.io/ingress.class: "traefik"
    replicaCount: 1
    containerSecurityContext:
      enabled: true
      runAsNonRoot: false
      runAsUser:
    cloneStaticSiteFromGit:
      enabled: true
      repository: "https://github.com/vuola/pubsource.git"
      branch: "main"
      interval: 15m
      gitClone:
        command:
          - /bin/bash
          - -ec
          - |
            [[ -f "/opt/bitnami/scripts/git/entrypoint.sh" ]] && source "/opt/bitnami/scripts/git/entrypoint.sh"
            git clone https://github.com/vuola/pubsource.git --branch main /tmp/app
            [[ "$?" -eq 0 ]] && \
              shopt -s dotglob && \
              rm -rf /app/* && \
              mv /tmp/app/* /app/ && \
              cp /app/.env.example /app/.env && \
              chmod -R ug+rwX /app
      gitSync:
        command:
          - /bin/bash
          - -ec
          - |
            [[ -f "/opt/bitnami/scripts/git/entrypoint.sh" ]] && source "/opt/bitnami/scripts/git/entrypoint.sh"
            while true; do
                cd /app && \
                  git pull origin main && \
                  cp .env.example .env && \
                  chmod -R ug+rwX /app
                sleep 15m
            done
    serverBlock: |-
      server {
        listen 0.0.0.0:8080;
        server_name _;

        root /app/public;

        location / {
          try_files $uri $uri/index.php;
        }

        location ~ \.php$ {
          fastcgi_pass 127.0.0.1:9000;
          fastcgi_index index.php;
          include fastcgi.conf;
        }  
      }
    extraEnvVarsSecret: laravel-keys
    sidecars:
      - name: phpfpm
        image: docker.io/bitnami/php-fpm:8.2.7-debian-11-r4
        imagePullPolicy: "IfNotPresent"
        ports:
          - name: portname
            containerPort: 9000
        volumeMounts:
          - name: staticsite
            mountPath: /app
    sidecarSingleProcessNamespace: true
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: mariadb
  namespace: kube-system
spec:
  repo: https://charts.bitnami.com/bitnami
  chart: mariadb
  targetNamespace: web
  valuesContent: |-
    auth:
      database: "solarsite"
      existingSecret: "database-keys"
    primary:
      service:
        type: NodePort
        ports:
          nodePort:
          mysql: 3306

      
    
